{% from "date-input/macro.njk"    import govukDateInput %}
{% extends "versions/" + version + "/bereavement-support-payments/layout.html" %}

{% block formContent %}
  {% if data.bspMarriageError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: data.bspMarriageError,
          href: "#bsp-marriage-cert"
        }
      ]
    }) }}
  {% endif %}
  <form method="post" action="check-bsp-marriage-cert">
    {{ govukRadios({
      id: "bsp-marriage-cert",
      name: "bsp-marriage-cert",
      fieldset: {
        legend: {
          text: "marriage_certificate" | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes" | translate
        },
        {
          value: "false",
          text: "No" | translate
        }
      ]
      })
    }}

    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}


