<div class="govuk-grid-column-one-third agent-sidebar">
  <h2 class="govuk-heading-m govuk-!-margin-top-3">About this call</h2>
  <dl class="govuk-list govuk-list--description">
    {% if data['caller-full-name'] %}
      <dt class="govuk-heading-s">Caller </dt>
      <dd>{{data['caller-full-name']}}</dd>
    {% endif %}
    {% if data['caller-phone-number'] %}
      <dt class="govuk-heading-s">Phone number</dt>
      <dd>{{data['caller-phone-number']}}</dd>
    {% endif %}
    {% if data['deceased-full-name'] %}
      <dt class="govuk-heading-s">Person who died </dt>
      <dd>{{data['deceased-full-name']}}</dd>
    {% endif %}
  </dl>
</div>
