<div class="govuk-grid-column-one-third agent-sidebar">
  <h2 class="govuk-heading-m govuk-!-margin-top-3">About this call</h2>
  <dl class="govuk-list govuk-list--description">
    {% if data['caller-full-name'] %}
      <dt class="govuk-heading-s">Caller </dt>
      <dd>{{data['caller-full-name']}}</dd>
    {% endif %}
    {% if data['deceased-full-name'] %}
      <dt class="govuk-heading-s">Person who died </dt>
      <dd>{{data['deceased-full-name']}}</dd>
    {% endif %}
  </dl>
  <ol class="app-task-list">
    <li>
      <h2 class="app-task-list__section">
        Check Searchlight for [deceased name]'s:
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
            first line of address
          </span>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
            postcode
          </span>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
            telephone or mobile number
          </span>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
            marital status
          </span>
        </li>
      </ul>
    </li>
  </ol>
</div>
