{% from "date-input/macro.njk"    import govukDateInput %}
{% extends "versions/v1/bereavement-support-payments/layout.html" %}

{% block formContent %}
  <form method="post" action="bank-details">
    {{ govukRadios({
      id: "bsp-use-dap",
      name: "bsp-use-dap",
      fieldset: {
        legend: {
          text: "bsp_use_dap" | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint:{
        text: "bsp_use_dap_hint" | translate
      },
      items: [
        {
          value: "true",
          text: "Yes" | translate
        },
        {
          value: "false",
          text: "No" | translate
        }
      ]
      })
    }}

    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}
