<div class="postcode-group">
  {{ govukInput({
    label: {
      text: "postcode" | translate
    },
    classes: "govuk-input--width-10",
    id:  prefix + "-postcode-lookup",
    name:  prefix + "-postcode-lookup",
    value: data[prefix + "-postcode-lookup"]
  }) }}

  {{ govukButton({
    text: "Find address",
    id: prefix + "-find-address",
    classes: "js-postcode-lookup button-secondary postcode-lookup",
    type: "button"
  }) }}

  <div class="govuk-!-width-two-thirds js-hidden js-results-group results-group" style="clear: both;">
    {{ govukSelect({
      id: prefix + "-results",
      name: prefix + "-results"
    }) }}
  </div>
  <details class="address-details">
    <summary><span class="summary">{{"expand_address" | translate}}</span></summary>
    <div class="inset-address" data-context={{prefix}}>
      {% include "includes/manual-address.html" %}
    </div>
  </details>
</div>