{% set urlPrefix = (navUrlPrefix if navUrlPrefix else "") %}
<nav class="navigation-global">
  <ul>
    <li>
      <a href="{{navUrlPrefix}}eligibility" class="{{newNotificationClass}}" aria-current="page">{{"nav_notification" | translate}}</a>
    </li>
    <li>
      <a href="{{navUrlPrefix}}select-eligibility-cards" class="{{newBspClass}}" aria-current="page">{{"nav_bsp" | translate}}</a>
    </li>
    <li>
      <a href="{{navUrlPrefix}}select-eligibility-cards" class="{{newFepClass}}" aria-current="page">{{"nav_fep" | translate}}</a>
    </li>
    <li class="search-group">
      <form class="search-form" method="get" action="search-results">
        {{ govukInput({
          label: {
            text: "national_insurance_number" | translate,
            classes: "govuk-visually-hidden"
          },
          id: "search-national-insurance",
          name: "search-national-insurance"
        }) }}
        <button class="button-search">Search</button>
      </form>
    </li>
  </ul>
</nav>