<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/polyfill.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/cookie-banner.js"></script>
<script src="/public/javascripts/all.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<script>
  const addresses = JSON.parse('{{ addresses | safe}}');
</script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
