{% from "tabs/macro.njk" import govukTabs %} {% extends "layout-full-width.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{"start_page_heading" | translate}}
        {# <span class="govuk-caption-m">We need some information about the caller and the deceased to check if theres already been a claim, content along these lines...</span> #}
      </h1>
      {# <p>We need some information about the caller and the deceased to check if theres already been a claim, content along these lines...</p> #}
      <form method="post" action="eligibility">
        {% call govukFieldset({
          legend: {
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}
          {{ govukInput({
            label: {
              text: "Caller " + "full_name" | translate,
              classes: "govuk-!-font-weight-bold",
              attributes: {
                id: "caller-full-name-group"
              }
            },
            id: "caller-full-name",
            name: "caller-full-name",
            classes: "govuk-!-width-two-thirds",
            value: "caller-full-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Caller " + "phone_number" | translate,
              classes: "govuk-!-font-weight-bold",
              attributes: {
                id: "caller-phone-number-group"
              }
            },
            id: "caller-phone-number",
            name: "caller-phone-number",
            classes: "govuk-!-width-two-thirds",
            value: "caller-phone-number"
          }) }}
        {% endcall %}

        {% call govukFieldset({
          legend: {
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}
          {{ govukInput({
            label: {
              text: "Deceased " + "full_name" | translate,
              classes: "govuk-!-font-weight-bold",
              attributes: {
                id: "deceased-full-name-group"
              }
            },
            id: "deceased-full-name",
            name: "deceased-full-name",
            classes: "govuk-!-width-two-thirds",
            value: "deceased-full-name"
          }) }}
          {{ govukInput({
            label: {
              text: "Deceased " +  "national_insurance" | translate,
              classes: "govuk-!-font-weight-bold",
              attributes: {
                id: "deceased-national-insurance-group"
              }
            },
            id: "deceased-national-insurance",
            name: "deceased-national-insurance",
            classes: "govuk-!-width-two-thirds",
            value: "deceased-national-insurance"
          }) }}
        {% endcall %}
        {{ govukButton({
          text: "continue" | translate,
          id: "continue-eligibility"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
