{# date 10-11-2018 #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Date of Release</dt>
      <dd>November 2018</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Version</dt>
      <dd>3.0</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Related Stories</dt>
      <dd>-</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Overview</h3>
<p>Third iteration of the prototype.</p>

<h3 class="govuk-heading-s">Changes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Increased spacing on start page</li>
  <li>Caller and deceased tabs swapped</li>
  <li>BSP child benefit content update</li>
  <li>New bank/building society pattern</li>
  <li>FEP content updates</li>
  <li>BSP banking screens</li>
</ul>

<h3 class="govuk-heading-s">Research Notes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Start page was easier to understand</li>
  <li>No noticable preference between tab order</li>
  <li>No issues with BSP child benefit content</li>
  <li>New bank/building society pattern well received, no issues</li>
  <li>FEP content using policy language is too heavy</li>
  <li>BSP banking journey was positive, but content tweaks needed</li>
</ul>

<a href="/versions/v3/start" class="govuk-button">Launch prototype</a>
