{% extends "layout.html" %}

{% from "tag/macro.njk" import govukTag %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}
  <div class="grid-grid-row">
    <div class="govuk-grid-column-two-thirds app-column-minimum">

      <h1 class="govuk-heading-l">
        Check your progress
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Options
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <strong class="app-task-list__task-name" aria-describedby="eligibility-completed">
                Death notification
              </strong>
              {{ govukTag({
                attributes: { id: "eligibility-completed" },
                classes: "app-task-list__task-completed tag-orange",
                text: "Pending send"
              }) }}
              <a class="app-task-list__task-name" href="bereavement-support-payments/landing" aria-describedby="read-declaration-completed">
                Check and change your answers
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="bereavement-support-payments/landing" aria-describedby="read-declaration-completed">
                Bereavement Support Payments
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Eligible"
              }) }}
              <p>Based on the information provided, Jane Doe is eligible to apply for Bereavement Support Payments</p>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="funeral-expense-payments/landing" aria-describedby="read-declaration-completed">
                Funeral Expense Payment
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Eligible"
              }) }}
              <p>Based on the information provided, Jane Doe is eligible to apply for a Funeral Expenses Payment</p>
            </li>
          </ul>
        </li>
      </ol>
          {{ govukWarningText({
      text: "consent_message" | translate,
      iconFallbackText: "Warning"
    }) }}
      <a href="complete" class="govuk-button" role="button">{{"Send and complete" | translate}}</a>
    </div>
    <div class="govuk-clearfix"></div>
  </div>
{% endblock %}
