{% extends "layout-full-width.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h2 class="govuk-panel__title">
        Information sent
      </h2>
    </div>

    <p>
      The government now knows about the death of {{data['deceased-full-name']}}
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>We'll write to the caller with information about what happens next.</p>
    <a href="eligibility/clear">Back to start</a>
  </div>
</div>
{% endblock %}
