{% from "tabs/macro.njk" import govukTabs %} {% extends "layout-full-width.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}
{% from "../../macros/card.njk" import card %}
{% block content %}
{# 4 states, new, not eligible, complete, failed - work out on server #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ card({
          heading: 'submit_notification',
          body: 'new_death_notification_claim_body',
          link: {
            text: 'submit_notification',
            url: 'check'
          },
          eligible: true
        })
      }}
    </div>
    <div class="govuk-grid-column-one-third">
      {# Move this into the js #}
      {% set bspClasses = "" %}
      {% if (bspEligibility.failed == true or (bspEligibility.eligible == false and bspEligiblity.complete != true)) %}
        {% set bspClasses = "govuk-card--error" %}
      {% elif (bspEligibility.complete == true) %}
        {% set bspClasses = "govuk-card--success" %}
      {% endif %}

      {% set bspBody = "new_bsp_claim_body" %}
      {% if (bspEligibility.failed == true) %}
        {% set bspBody = "fail_bsp_claim_body" %}
      {% elif (bspEligibility.complete == true) %}
        {% set bspBody = "complete_bsp_claim_body" %}
      {% elif (bspEligibility.eligible == false) %}
        {% set bspBody = "ineligible_bsp_claim_body" %}
      {% endif %}
      {{ card({
          heading: 'check_bsp',
          body: bspBody,
          classes: bspClasses,
          link: {
            text: 'start_bsp',
            url: 'bereavement-support-payments/landing'
          },
          eligible: bspEligibility.eligible,
          complete: bspEligibility.complete,
          failed: bspEligibility.failed
        })
      }}
    </div>
    <div class="govuk-grid-column-one-third">
      {% set fepClasses = "" %}
      {% if (fepEligibility.failed == true or (fepEligibility.eligible == false and fepEligiblity.complete == false)) %}
        {% set fepClasses = "govuk-card--error" %}
      {% elif (fepEligibility.complete == true) %}
        {% set fepClasses = "govuk-card--success" %}
      {% endif %}
      {% set fepBody = "new_fep_claim_body" %}
      {% if (fepEligibility.failed == true) %}
        {% set fepBody = "fail_fep_claim_body" %}
      {% elif (fepEligibility.complete == true) %}
        {% set fepBody = "complete_fep_claim_body" %}
      {% elif (fepEligibility.eligible == false) %}
        {% set fepBody = "ineligible_fep_claim_body" %}
      {% endif %}
      {{ card({
          heading: 'check_fep',
          body: fepBody,
          classes: fepClasses,
          link: {
            text: 'start_fep',
            url: 'funeral-expense-payments/landing'
          },
          eligible: fepEligibility.eligible,
          complete: fepEligibility.complete,
          failed: fepEligibility.failed
        })
      }}
    </div>
  </div>
{% endblock %}
