{% from "tabs/macro.njk" import govukTabs %} {% extends "layout-full-width.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="handle-eligibility">
        {{ govukRadios({
          id: "select-eligibility",
          name: "select-eligibility",
          fieldset: {
            legend: {
              text: "select_eligibility" | translate,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "bsp",
              text: "check_bsp" | translate,
              disabled: true if bspComplete == true else false
            },
            {
              value: "fep",
              text: "fep" | translate,
              disabled: true if fepComplete == true else false
            },
            {
              "divider": "or"
            },
            {
              value: "none",
              text: "submit_notification" | translate
            }
          ]
          })
        }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
