<h2 class="govuk-heading-m">{{"deceased_details_heading" | translate}}</h2>
<dl class="app-check-your-answers app-check-your-answers--long">
  {% if data['deceased-full-name'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "full_name" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{data['deceased-full-name']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="start#deceased-full-name-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "full_name" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if data['deceased-national-insurance'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "national_insurance" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{data['deceased-national-insurance']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="start#deceased-national-insurance-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "national_insurance" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if (data['deceased-dob-day']) and (data['deceased-dob-month']) and (data['deceased-dob-year']) %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "dob_title" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{data['deceased-dob-day']}}/{{data['deceased-dob-month']}}/{{data['deceased-dob-year']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="start#deceased-dob-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "dob_title" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if (data['deceased-dod-day']) and (data['deceased-dod-month']) and (data['deceased-dod-year']) %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "dod_title" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{data['deceased-dod-day']}}/{{data['deceased-dod-month']}}/{{data['deceased-dod-year']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="capture#deceased-dod-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "dod_title" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if data['deceased-marital-status'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "marital_status" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{data['deceased-marital-status']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-trace#deceased-marital-status-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "marital_status" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if data['hospital-location'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "hospital_label" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{data['hospital-location']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="hospital-lookup#deceased-hospital-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "hospital_label" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {%
    if (data['deceased-line-1']) or (data['deceased-line-2'])
    or (data['deceased-town-city']) or (data['deceased-county'])
    or (data['postcode'])
  %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "address" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{data['deceased-line-1']}}
        <br /> {{data['deceased-line-2']}}
        <br /> {{data['deceased-town-city']}}
        <br /> {{data['deceased-county']}}
        <br /> {{data['deceased-postcode']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="capture#deceased-address-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "address" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if (data['deceased-qualifying-benefits']) %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "benefits_label" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {% for benefit in data['deceased-qualifying-benefits'] %}
          {% if loop.index != 1 %}
            <br />
          {% endif %}
          {{benefit | translate}}
        {% endfor %}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="capture#deceased-benefits-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "benefits_label" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}
</dl>
