{% from "date-input/macro.njk"    import govukDateInput %}
{% extends "versions/v1/bereavement-support-payments/layout.html" %}

{% block formContent %}
  <form method="post" action="executor-payee">
    {{ govukRadios({
      id: "death-arrears-executor",
      name: "death-arrears-executor",
      fieldset: {
        legend: {
          text: "who_is_executor" | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "caller",
          text: "The caller",
          checked: true if data['death-arrears-executor'] == 'true' else false
        },
        {
          value: "someone-else",
          text: "Someone else",
          checked: true if data['death-arrears-executor'] == 'false' else false
        }
      ]
      })
    }}

    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}
