{% from "date-input/macro.njk"    import govukDateInput %}
{% extends "versions/v1/bereavement-support-payments/layout.html" %}

{% block formContent %}
  <form method="post" action="dap-executor">
    {{ govukRadios({
      id: "is-there-executor",
      name: "is-there-executor",
      fieldset: {
        legend: {
          text: "dap_executor_question" | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint:{
        text: "dap_executor_question_hint" | translate
      },
      items: [
        {
          value: "true",
          text: "Yes" | translate
        },
        {
          value: "false",
          text: "No" | translate
        }
      ]
      })
    }}

    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}
