{% extends "versions/" + version + "/funeral-expense-payments/layout.html" %}
{% block formContent %}
  {% if data.funeralBenefitsError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: data.funeralBenefitsError,
          href: "#fep-qualifying-benefits-1"
        }
      ]
    }) }}
  {% endif %}
  <form method="post" action="check-qualifying-benefits" id="fep-qualifying-benefits-group">
    {{ govukCheckboxes({
      idPrefix: "fep-qualifying-benefits",
      name: "fep-qualifying-benefits",
      fieldset: {
        legend: {
          text: "fep_qualifying_benefits" | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "universal-credit",
          text: "universal_credit" | translate
        },
        {
          value: "income-support",
          text: "income_support" | translate
        },
        {
          value: "income-jsa",
          text: "income_jsa" | translate
        },
        {
          value: "income-esa",
          text: "income_esa" | translate
        },
        {
          value: "pension-credit",
          text: "pension_credit" | translate
        },
        {
          value: "housing-benefit",
          text: "housing_benefit" | translate
        },
        {
          value: "sd-wtc",
          text: "sd_wtc" | translate
        },
        {
          value: "child-tax-credit",
          text: "child_tax_credit" | translate
        },
        {
          value: "smi",
          text: "smi" | translate
        },
        {
          value: "none",
          text: "none" | translate
        }
      ]
    }) }}
    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}
