{% from "tabs/macro.njk" import govukTabs %} {% extends "layout-full-width.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}

{% block content %}
  {% set callerHtml %}
    {% include "versions/v2/includes/caller-no-spouse.html" %}
  {% endset %}

  {% set deceasedDetailsHtml %}
    {% include "versions/v2/includes/deceased-extra-tabs.html" %}
  {% endset %}

  {% set hospitalHtml %}
    {% set hospitalInfoHtml %}
      {% include "versions/base/includes/hospital/autocomplete.html" %}
    {% endset %}
    {{ govukRadios({
      idPrefix: "hospital-death-conditional",
      name: "hospital-death",
      fieldset: {
        legend: {
          text: "hospital_question" | translate,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: true,
          text: "Yes",
          conditional: {
            html: hospitalInfoHtml
          },
          checked: true if data['hospital-death'] == 'true' else false
        },
        {
          value: false,
          text: "No",
          checked: true if data['hospital-death'] == 'false' else false
        }
      ]
    }) }}

    <a href="#spouse-tab" class="govuk-button">{{"save_continue" | translate}}</a>

  {% endset %}

  {% set dapHtml %}
    {% include "versions/v2/includes/dap-inline.html" %}
  {% endset %}

  {% set spouseHtml %}
    {% include "versions/v2/includes/spouse.html" %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="deceased-benefits">
        {{ govukTabs({
          items: [
            {
              label: "caller_tab" | translate,
              id: "caller-tab",
              panel: {
                html: callerHtml
              }
            },
            {
              label: "security_tab" | translate,
              id: "security-tab",
              panel: {
                html: deceasedDetailsHtml
              }
            },
            {
              label: "dap_tab" | translate,
              id: "dap-tab",
              panel: {
                html: dapHtml
              }
            },
            {
              label: "hospital_tab" | translate,
              id: "hospital-tab",
              panel: {
                html: hospitalHtml
              }
            },
            {
              label: "spouse_tab" | translate,
              id: "spouse-tab",
              panel: {
                html: spouseHtml
              }
            }
          ]
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
