{# date 19-10-2018 #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Date of Release</dt>
      <dd>October 2018</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Version</dt>
      <dd>2.0</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Related Stories</dt>
      <dd>-</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Overview</h3>
<p>Second iteration of the prototype.</p>

<h3 class="govuk-heading-s">Hypotheses</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Will add a duplicate nino page if a nino is already found</li>
</ul>

<h3 class="govuk-heading-s">Research Notes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Not yet tested</li>
</ul>

<a href="/versions/v2/start" class="govuk-button">Launch prototype</a>
