{# date 19-10-2018 #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Date of Release</dt>
      <dd>October 2018</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Version</dt>
      <dd>2.0</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Related Stories</dt>
      <dd>-</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Overview</h3>
<p>Second iteration of the prototype.</p>

<h3 class="govuk-heading-s">Changes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Adds a duplicate nino page if one nino is already found</li>
  <li>Separates DAP caller and bank details page</li>
  <li>Add config to disable start page validation</li>
  <li>Add support for bank details within BSP</li>
  <li>Remove hospital lookup and deceased benefits from tabbed pages</li>
  <li>Conditionally ask hospital question depending on what benefit was selected</li>
  <li><a href="versions/v2/funeral-expense-payments/joint-landing">Join some FEP questions together</a>, to reduce the amount of pages in the journey</li>
  <li><a href="versions/v2/eligibility-anchors">Join together Death Notification tabs</a></li>
  <li><a href="versions/v2/eligibility-tabs">New tab layout</a></li>
  <li><a href="versions/v2/complete">Added signposting page</a></li>
</ul>

<h3 class="govuk-heading-s">Research Notes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Not yet tested</li>
</ul>

<a href="/versions/v2/start" class="govuk-button">Launch prototype</a>
