{% from "tabs/macro.njk" import govukTabs %} {% extends "layout-full-width.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{"death_arrears_heading" | translate}}</h1>
      <form method="post" action="payee-bank">
        {% include "versions/base/includes/dap/personal-details.html" %}
        {{ govukButton({
          text: "continue" | translate,
          id: "continue-to-payee"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}