{# date 11-02-2019 #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Date of Release</dt>
      <dd>February 2019</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Version</dt>
      <dd>12.0</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Related Stories</dt>
      <dd>-</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-m">Overview</h3>

<h3 class="govuk-heading-s">Changes</h3>
<ul class="govuk-list govuk-list--bullet">
 <li>Content updates</li>
 <li><a href="/versions/v12/ur">Variations</a></li>
</ul>

<a href="/versions/v12/start-cards" class="govuk-button">Launch prototype</a>
