{% from "tabs/macro.njk" import govukTabs %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}
{% extends "versions/v1/bereavement-support-payments/layout.html" %}
{% block formContent %}
  <form method="post" action="confirm">
    <h2 class="govuk-heading-m">{{"bank_details_heading" | translate}}</h2>

    {{ govukRadios({
      idPrefix: "bank-or-building",
      name: "bsp-bank-or-building",
      fieldset: {
        classes: 'js-bank-or-building',
        legend: {
          text: "bank_building_question" | translate,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "bank-account",
          text: "bank_account" | translate,
          checked: true if data['bank-or-building'] == 'bank' else true
        },
        {
          value: "building-society",
          text: "building_society" | translate,
          checked: true if data['bank-or-building'] == 'buildsoc' else false
        }
      ]
    }) }}

    {{ govukInput({
      label: {
        text: "bank_name" | translate,
        classes: "govuk-!-font-weight-bold",
        attributes: {
          id: "bsp-bank-name-group"
        }
      },
      id: "bank-name",
      name: "bsp-bank-name",
      classes: "govuk-!-width-two-thirds",
      value: data["bank-name"]
    }) }}

    {{ govukInput({
      label: {
        text: "bank_account_no" | translate,
        classes: "govuk-!-font-weight-bold",
        attributes: {
          id: "bsp-bank-account-no-group"
        }
      },
      id: "bank-account-no",
      name: "bsp-bank-account-no",
      classes: "govuk-!-width-two-thirds",
      value: data["bank-account-no"]
    }) }}

    {{ govukInput({
      label: {
        text: "bank_sort_code" | translate,
        classes: "govuk-!-font-weight-bold",
        attributes: {
          id: "bsp-bank-sort-code-group"
        }
      },
      id: "bank-sort-code",
      name: "bsp-bank-sort-code",
      classes: "govuk-!-width-two-thirds govuk-input--width-10",
      value: data["bank-sort-code"]
    }) }}

    <div class="govuk-form-group js-roll-number js-hidden" aria-hidden="true">
      <label class="govuk-label govuk-!-font-weight-bold" id="bsp-building-soc-roll-group" for="building-soc-roll">
        {{ "building_soc_roll" | translate}}
      </label>
      <span id="building-soc-roll-hint" class="govuk-hint">
        {{ "building_soc_roll_hint" | translate}}
      </span>
      <input class="govuk-input govuk-!-width-two-thirds" id="building-soc-roll" name="bsp-building-soc-roll" type="text" aria-describedby="building-soc-roll-hint">
    </div>
    {{ govukButton({
      text: "continue" | translate,
      id: "continue-to-payee"
    }) }}
  </form>
{% endblock %}
