{# date dd-mm-yyyy #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Date of Release</dt>
      <dd>{# Date of Release #}</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Version</dt>
      <dd>{# Prototype Version #}</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Related Stories</dt>
      <dd>{# Related Stories #}</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Overview</h3>
<p>{# Prototype Overview #}</p>

<h3 class="govuk-heading-s">Changes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>{# List of changes made #}</li>
</ul>

<h3 class="govuk-heading-s">Hypotheses</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>{# Prototype Hypotheses #}</li>
</ul>

<h3 class="govuk-heading-s">Research Notes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>{# List of research notes #}</li>
</ul>

<h3 class="govuk-heading-s">Variations</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>{# Links to different variations #}</li>
</ul>