{% extends "layout-full-width.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h2 class="govuk-panel__title">
        Information sent
      </h2>
    </div>

    <h2 class="govuk-heading-m">What happens next?</h2>
    <p>We’ll write to the caller to let them know when benefit payments will stop.</p>
    {% if bspComplete or fepComplete %}
      <p>
        {% if bspComplete and fepComplete %}
          The Bereavement Support Payment team and Funeral Expenses Payment team
        {% elif bspComplete %}
          The Bereavement Support Payment team
        {% elif fepComplete %}
          The Funeral Expenses Payment team
        {% endif %}
        will contact the caller within 2 weeks to continue with their application.
      </p>
    {% endif %}
    <h2 class="govuk-heading-m">Next steps for the caller</h2>
    <p>They should register the death if they haven’t already.</p>

    <p>They can also:
      <ul class="govuk-list govuk-list--bullet">
        <li>check what benefits they can get using a benefits calculator at <a href="www.gov.uk/benefits-calculator">www.gov.uk/benefits-calculator</a></li>
        <li>speak to their local council to see if they’re eligible for Council Tax Reduction</li>
        <li>speak to Citizens Advice for support and guidance</li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">Emotional support</h2>
    <p>Cruse Bereavement Care is a voluntary organisation that offers emotional help and support during a bereavement.</p>
    <p><span class="govuk-!-font-weight-bold">Telephone:</span> 0808 808 1677</p>
    <p><span class="govuk-!-font-weight-bold">Email:</span> helpline@cruse.org.uk</p>
    <a href="../../prototype-admin/clear-data">Back to start</a>
  </div>
</div>
{% endblock %}
