{% extends "layout-full-width.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p>Check that the caller agrees that the information they’ve given:
      <ul class="govuk-list govuk-list--bullet">
        <li>is correct to the best of their knowledge</li>
        <li>will be sent to relevant benefit areas</li>
        <li>can be given to the Bereavement Support Payment team and the Funeral Expenses Payment team</li>
      </ul>
    </p>
    <a href="complete" class="govuk-button" role="button">{{"confirm_send_application" | translate}}</a>
  </div>
</div>
{% endblock %}
