{% extends "layout-full-width.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">To read to the caller</h2>
    <p>The information you’ve given will be used to update benefit records and stop any benefit payments.</p>
    <p>Your information will also be given to the Bereavement Support Payment team and the Funeral Expenses Payment team so they can start an application.</p>
    <p>The information will be treated securely and we’ll send a copy of our privacy notice with your confirmation letter.</p>
    <p>Do you agree this information can be sent?</p>
    <a href="complete" class="govuk-button" role="button">{{"confirm_send_application" | translate}}</a>
  </div>
</div>
{% endblock %}
