{% from "date-input/macro.njk"    import govukDateInput %}
{% extends "versions/v1/bereavement-support-payments/layout.html" %}

{% block formContent %}
  <form method="post" action="handle-bank-details">
    {{ govukRadios({
      id: "bsp-use-dap",
      name: "bsp-use-dap",
      fieldset: {
        legend: {
          text: "bsp_use_dap" | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint:{
        text: "bsp_use_dap_hint" | translate
      },
      items: [
        {
          value: "true",
          text: "Yes" | translate
        },
        {
          value: "false",
          text: "No" | translate
        }
      ]
    }) }}

    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}

{% block sidebarContent %}
  {% if data['dap-bank-sort-code'] or data['dap-bank-account-no'] %}
    <h2 class="govuk-heading-s">Death Arrears Payee bank account</h2>
    <dl class="bank-summary">
      {% if data['dap-bank-name'] %}
        <dt>{{"bank_account" | translate}}</dt>
        <dd>{{data['dap-bank-name']}}</dd>
      {% endif %}

      {% if data['dap-bank-account-no'] %}
        <dt>{{"bank_account_no" | translate}}</dt>
        <dd>{{data['dap-bank-account-no']}}</dd>
      {% endif %}

      {% if data['dap-bank-sort-code'] %}
        <dt>{{"bank_sort_code" | translate}}</dt>
        <dd>{{data['dap-bank-sort-code']}}</dd>
      {% endif %}

      {% if data['dap-building-soc-roll'] %}
        <dt>{{"building_soc_roll" | translate}}</dt>
        <dd>{{data['dap-building-soc-roll']}}</dd>
      {% endif %}
    </dl>
  {% endif %}
{% endblock %}