{% from "tabs/macro.njk" import govukTabs %} {% extends "layout.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}

{% block content %}
  {% set deceasedDetailsHtml %}
    {% include "versions/v11/includes/deceased.html" %}
  {% endset %}

  <div class="govuk-grid-row capture-data">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="benefits-route-handler">
        {{deceasedDetailsHtml | safe}}
        {% include "versions/v11/includes/deceased-benefits-list.html" %}

        {{ govukButton({
          text: "continue" | translate,
          id: "continue-eligibility"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
