{% extends "layout-full-width.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h2 class="govuk-panel__title">
        Information sent
      </h2>
    </div>
    <p>We have all the information we need now.</p>
    <h2 class="govuk-heading-m">What happens next?</h2>
    <p>We will write to let you know when benefit payments will stop.</p>
    {% if bspComplete or fepComplete %}
      <p>
        {% if bspComplete and fepComplete %}
          The Bereavement Support Payment team and Funeral Expenses Payment team
        {% elif bspComplete %}
          The Bereavement Support Payment team
        {% elif fepComplete %}
          The Funeral Expenses Payment team
        {% endif %}
        will contact the caller within 2 weeks to continue with their application.
      </p>
    {% endif %}
    <h2 class="govuk-heading-m">Next steps for the caller</h2>
    <p>You should register the death if you haven’t already.</p>

    <p>You can check if you can get any financial help by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>visiting your local jobcentre for advice on what benefits you could be entitled to</li>
        <li>using an independent benefits calculator at www.gov.uk/benefits-calculators</li>
        <li>contacting your local council to see if you can get help to pay Council Tax</li>
      </ul>
    <p>Citizens Advice can also give you support and guidance.</p>

    <h2 class="govuk-heading-m">Emotional support</h2>
    <p>You can contact Cruse Bereavement Care, a voluntary organisation, for emotional help and support during a bereavement.</p>
    <p><span class="govuk-!-font-weight-bold">Telephone:</span> 0808 808 1677</p>
    <p><span class="govuk-!-font-weight-bold">Email:</span> helpline@cruse.org.uk</p>
    <a href="../../prototype-admin/clear-data">Back to start</a>
  </div>
</div>
{% endblock %}
