{% extends "layout-full-width.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Declaration – read to the caller</h1>
    <p>The information you’ve given will be used to update benefit records.</p>
    <p>You agree that the information you’ve given is correct and complete to the best of your knowledge.</p>
    {{ govukWarningText({
      text: "You could be prosecuted or face other action if you knowingly give false information.",
      iconFallbackText: "Warning"
    }) }}
    <a href="complete" class="govuk-button" role="button">{{"confirm_send_application" | translate}}</a>
  </div>
</div>
{% endblock %}
