{% extends "layout-full-width.html" %}
{%- from "tag/macro.njk" import govukTag -%}

{% block pageTitle %}
  {{"app_title" | translate}} Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="homepage-header">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        {{"app_title" | translate}}
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <article class="latest-version">
        <section>
          {{ govukTag({
            text: "Most Recent",
            classes: "most-recent-tag"
          }) }}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl class="govuk-list govuk-list--description">
                <dt class="govuk-heading-s">Date of Release</dt>
                <dd>November 2018</dd>
              </dl>
            </div>
            <div class="govuk-grid-column-one-third">
              <dl class="govuk-list govuk-list--description">
                <dt class="govuk-heading-s">Version</dt>
                <dd>7.0</dd>
              </dl>
            </div>
          </div>
          <h3 class="govuk-heading-s">Overview</h3>
          <p>Seventh iteration of the prototype.</p>

          <h3 class="govuk-heading-s">Changes</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Split bank details questions into multiple pages</li>
          </ul>
        </section>
      </article>
    </div>
  </div>
{% endblock %}
