{# date 05-12-2018 #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Date of Release</dt>
      <dd>December 2018</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Version</dt>
      <dd>8.0</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Related Stories</dt>
      <dd>-</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Overview</h3>

{# <h3 class="govuk-heading-s">Changes</h3>
<ul class="govuk-list govuk-list--bullet">

</ul>

<h3 class="govuk-heading-s">Research Notes</h3>
<ul class="govuk-list govuk-list--bullet">

</ul> #}

<a href="/versions/v8/start-cards" class="govuk-button">Launch prototype</a>
