{% from "date-input/macro.njk"    import govukDateInput %}
{% extends "versions/v1/bereavement-support-payments/layout.html" %}
{% block formContent %}
  {% set dapHtml %}
    <div class="govuk-form-group dap-address">
      {% set prefix = "dap" %}
      {% include "versions/v11/includes/manual-address.html" %}
    </div>
  {% endset %}
  {% set question = "Are they dealing with the financial affairs of the person who's died?" %}
  {% if data['death-arrears-nok'] === 'caller' %}
    {% set question = "Are you dealing with the financial affairs of the person who's died?" %}
  {% endif %}
  <form method="post" action="next-of-kin-payee-handler">
    {{ govukRadios({
      id: "nok-responsible",
      name: "nok-responsible",
      fieldset: {
        legend: {
          text: question,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes",
          checked: true if data['nok-responsible'] == 'true' else false
        },
        {
          value: "false",
          text: "No",
          checked: true if data['nok-responsible'] == 'false' else false
        }
      ]
      })
    }}

    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}
