{% from "date-input/macro.njk"    import govukDateInput %}
{% extends "versions/v1/bereavement-support-payments/layout.html" %}

{% block formContent %}
  <form method="post" action="next-of-kin-details">
  <h1 class="govuk-heading-l">Benefit money still to be paid</h1>
  <p>If there’s still benefit money that needs to be paid, we need to work out who to pay.</p>
    {{ govukCheckboxes({
      idPrefix: "waste",
      name: "waste",
      fieldset: {
        legend: {
          text: "Which of these are you aware of:",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "executor",
          text: "An executor of the will"
        },
        {
          value: "administrator",
          text: "An administrator of the estate"
        },
        {
          value: "funeral",
          text: "The person paying for the funeral"
        },
        {
          value: "nok",
          text: "A next of kin"
        },
        {
          value: "none",
          text: "None of these"
        }
      ]
    }) }}

    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}
