{% extends "versions/base/funeral-expense-payments/layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h2 class="govuk-panel__title">
        Application sent
      </h2>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>

    <p>
      The caller's application for a Funeral Expenses Payment is being processed.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>We'll write to the caller with a decision or if we need any more information.</p>
    <a href="../select-eligibility" class="govuk-button" role="button">{{"continue" | translate}}</a>
  </div>
</div>
{% endblock %}
