{% extends "versions/" + version + "/funeral-expense-payments/layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Application failed</h2>
    <article>
      <p>The eligibility check failed due to the following reason:</p>
      <ul class="govuk-list--bullet govuk-list">
        <li>{{data.fepFailure}}</li>
      </ul>
      {{ govukWarningText({
        text: "fep_eligibility_failed" | translate,
        iconFallbackText: "Warning"
      }) }}
      <a href="../select-eligibility" class="govuk-button" role="button">{{"continue" | translate}}</a>
    </article>
  </div>
</div>
{% endblock %}
