{% from "tabs/macro.njk" import govukTabs %} {% extends "layout-full-width.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}
{% from "date-input/macro.njk"    import govukDateInput %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{"check_fep" | translate}}</h1>
      <h2 class="govuk-heading-m">Before you continue</h2>
      <p>Ask the caller to check whether they have:
        <ul class="govuk-list govuk-list--bullet">
          <li>a funeral date</li>
          <li>details of any benefits they get</li>
        </ul>
      </p>
      {% set startUrl = "funeral-date" %}
      <h1>{{startUrl}}hi</h1>
      {% if fepStart %}
        {% set startUrl = fepStart %}
      {% endif %}
      <h1>{{startUrl}}hi</h1>

      <a href="{{startUrl}}" role="button" class="govuk-button govuk-button--start">
        Continue
      </a>
    </div>
  </div>
{% endblock %}
