{% extends "versions/" + version + "/funeral-expense-payments/layout.html" %}

{% block formContent %}
  <form method="post" action="check-student">
    {{ govukRadios({
      idPrefix: "student-or-training",
      name: "student-or-training",
      fieldset: {
        legend: {
          text: "student_training" | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes" | translate,
          checked: true if data['student-or-training'] == 'true' else false
        },
        {
          value: "false",
          text: "No" | translate
        }
      ]
      })
    }}
    {{ govukButton({
      text: "continue" | translate,
      id: "continue-eligibility"
    }) }}
  </form>
{% endblock %}
